/* style here */
/* smooth scroll */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 15vh;
}

/* navbar */
.active {
    color: #6ECCAF !important;
}

.nav-link:hover {
    color: #2F9E7B !important;
}

.bg-transparent {
    background-color: white !important;
    opacity: 0.8 !important;
    transition: all 0.6s ease-in-out;
}

.bg-transparent a {
    color: black;
    opacity: 1 !important;
}

.bg-white {
    transition: all 0.6s ease-in-out;
}

/* banner or hero image */
.banner {
    height: 100vh;
    width: 100%;
    background-image: url('assets/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btn-outline-success {
    color: #6ECCAF !important;
    border-color: #6ECCAF !important;
    filter: brightness(1.30);
}

.btn-outline-success:hover {
    color: black !important;
    border-color: #6ECCAF !important;
    filter: brightness(1.30);
    background-color: #6ECCAF !important;
}



/* about */
.about {
    background-color: #EBEBEB;
}

.about-desc {
    margin-top: 80px;
}

.about-btn {
    background-color: #6ECCAF;
    width: 200px;
}

.about-btn:hover {
    background-color: black;
    color: #6ECCAF;
}

.about-pict img {
    margin-left: 180px;
}

/* RESPONSIVE ABOUT */
@media (max-width:480px)  {

    .about-desc {
        margin-top: 25px;
    }

    .about-pict img {
        width: 70%;
        margin-top: 70px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}


/* join us */
.join-us {
    background-color: #EBEBEB;
}

.btn-outline-primary {
    color: #6ECCAF !important;
    border-color: #6ECCAF !important;
}

.btn-outline-primary:hover {
    color: black !important;
    border-color: #6ECCAF !important;
    background-color: #6ECCAF !important;
}

.join-us img {
    width: 70%;
}

/* RESPONSIVE JOIN US */
@media (max-width:480px)  {

    .join-us img {
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

}



/* testimoni */
.profile {
    background-image: url('assets/testimoni2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: -50px;
    position: relative;
    z-index: 1;
}



/* contact */
.contact-icon {
    margin-right: 20px;
}

.contact a {
    text-decoration: none;
}

.contact-desc p {
    margin-right: 120px;
}

.form-input input {
    background-color: #F4F4F4;
}

.form-input textarea {
    background-color: #F4F4F4;
}

.btn-success {
    background-color: #7CCEB4 !important;
    border-color: #7CCEB4;
}

.btn-success:hover {
    background-color: black !important;
    border-color: black;
    color: #7CCEB4;
}

/* RESPONSIVE CONTACT */
@media (max-width:480px)  {

    .contact-maps iframe {
        width: 100%;
        margin-bottom: 20px;
    }

}



/* footer */
footer {
    background-color: #2F9E7B;
}

.border-top {
    margin-left: 90px;
    margin-right: 90px;
}

.footer-top {
    margin-left: 90px;
    margin-right: 90px;
}

.footer-title {
    display: none;
}

/* RESPONSIVE */
@media (max-width:480px)  {

    .border-top {
        margin-left: 20px;
        margin-right: 20px;
    }

    .footer-title {
        display: block;
        margin-bottom: 40px;
    }

}